.first {
	height: 400px;
}

.panel-heading {
	background: black;
	color: white;
}

.panel {

}

.panel > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;

}

.panel > .first {
	height: 400px;
}

.bashead {
	text-align: center;
}

.panel-h {
	overflow-y: scroll;
	max-height: 310px;
}

